<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>URLs</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<!--
<div class="row">

-->
<div class="col-md-3">
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Account</th>
            <th>Account ID</th>
            <th>URL</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>Simon</td>
            <td>#</td>
            <td><a target="_blank" href="https://binfeng.signin.aws.amazon.com/console">URL</a></td>
        </tr>
        <tr>
            <td>2</td>
            <td>Gigabud</td>
            <td>#2405</td>
            <td><a target="_blank" href="https://564171482405.signin.aws.amazon.com/console">URL</a></td>
        </tr>
        <tr>
            <td>3</td>
            <td>Yeemos</td>
            <td>#0952</td>
            <td><a target="_blank" href="https://227311630952.signin.aws.amazon.com/console">URL</a></td>
        </tr>
        <tr>
            <td>3</td>
            <td>OpenNMS</td>
            <td>#</td>
            <td><a target="_blank" href="http://monitor.daqunli.cn:8980/opennms/login.jsp">URL</a></td>
        </tr>
        </tbody>
    </table>
</div>


<div class="col-md-3">
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>URL</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Simon</td>
            <td><a target="_blank" href="/s/python/">Python</a></td>
        </tr>
        <tr>
            <td>vim url</td>
            <td><a target="_blank"  href="/s/vim/">VIM</a></td>
        </tr>

        </tbody>
    </table>
</div>

<div  class="col-md-6">
<table class="table">
        <thead>
        <tr>
            <th>Todo...</th>
            <th>Item</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>cs6</td>
            <td><a target="_blank" href="http://es6.ruanyifeng.com/#docs/intro">http://es6.ruanyifeng.com/#docs/intro</a></td>
        </tr>
        <tr>
            <td>MDN Javascript</td>
            <td><a target="_blank" href="https://developer.mozilla.org/zh-CN/docs/Web/JavaScript/Reference">https://developer.mozilla.org/zh-CN/docs/Web/JavaScript/Reference</a></td>
        </tr>
        <tr>
            <td>redis</td>
            <td><a target="_blank" href="http://www.redis.net.cn/tutorial/3501.html">http://www.redis.net.cn/tutorial/3501.html</a></td>
        </tr>
</table>
</div>
<!--
<div class="page-header">
<h1>Useful Info</h1>
</div>
-->
<br>
<div class="row">
<div class="col-md-12">
<table class="table">
<thead>
        <tr>
            <th>Item</th>
            <th>Content</th>
        </tr>
</thead>
<tbody>

	<tr>
            <td>get specific line in commandline</td>
            <td>sed -n '2333p' ./something.log > ~/2333line.log</td>
        </tr>
	<tr>
            <td>generate a 1G file by using dd</td>
            <td>dd if=/dev/zero of=./1G bs=1M count=1024</td>
        </tr>
	<tr>
            <td>Install EPEL on Centos</td>
            <td>sudo yum install epel-release</td>
        </tr>
	<tr>
            <td>Install Oh My ZSH</td>
            <td>sh -c "$(curl -fsSL https://raw.githubusercontent.com/robbyrussell/oh-my-zsh/master/tools/install.sh)" <br>
		And then add username and hostname to prompt by add PROMPT='%(!.%{%F{yellow}%}.)$USER@%{$fg[white]%}%M %{$fg_bold[red]%}➜ %{$fg_bold[green]%}%p %{$fg[cyan]%}%c %{$fg_bold[blue]%}$(git_prompt_info)%{$fg_bold[blue]%} % %{$reset_color%}' to ~/.zshrc</td>
        </tr>
	<tr>
            <td>Vim Text Objects</td>
            <td>daw VIM command for delete a word (includes surrounding white space)<br>
		dit VIM commandfor delete a tag (does not include surrounding white space)<br>
		Text Objects: (W)rods, (S)entences, (P)aragraphs, '' ""  <>  []  ()  {} &lt;tag&gt; </td>
        </tr>
	<tr>
            <td>rsync over ssh </td>
            <td>rsync --progress -azv -e ssh user@192.168.1.109:/home/user/test/ /home/user/test_new/</td>
        </tr>
	<tr>
            <td>install node6 on centos</td>
            <td>yum install gcc-c++ make<br>curl --silent --location https://rpm.nodesource.com/setup_6.x | bash - <br>yum install -y nodejs </td>
        </tr>
	<tr>
            <td>install node6 on ubuntu</td>
            <td>apt-get install -y build-essential<br>curl -sL https://deb.nodesource.com/setup_6.x | sudo -E bash -<br>apt-get install -y nodejs</td>
        </tr>
	<tr>
            <td></td>
            <td>https://s3.amazonaws.com/share_file/software/couchbase-server-enterprise-4.6.0-DP-centos6.x86_64.rpm
                <br>https://s3.amazonaws.com/share_file/software/jdk-8u73-linux-x64.tar.gz
                <br>http://gigabud01.oss-cn-hangzhou.aliyuncs.com/software/jdk-8u161-linux-x64.tar.gz</td>
        </tr>

</tbody>
</table>
</div>
</div>

</body>
</html>
